@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, #0052cc, #80b3ff);
  background-size: cover;
  padding-top: 7rem;
  position: relative; }

main {
  padding: 5rem 10rem;
  padding-bottom: 12rem; }
  main.movie-page {
    padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-margin-bottom-micro {
  margin-bottom: 0.3rem !important; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, transparent, #0052cc);
  background-size: cover;
  z-index: 10; }
  .navigation__sitename {
    font-family: "Lobster", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
  .navigation__location {
    padding-top: 0.5rem;
    padding-right: 1.5rem; }
  .navigation__icon, .navigation__text {
    display: inline-block; }
  .navigation__icon {
    font-size: 2rem;
    margin-right: 1rem; }
  .navigation__text {
    font-size: 1.4rem; }

.panel {
  max-width: 131rem;
  padding: 2rem;
  padding-bottom: 0;
  padding-right: 0;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  animation: fadeIn 1.5s; }
  .panel__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .panel__cards {
    display: flex;
    flex-wrap: wrap; }
  .panel--small {
    max-width: 62rem; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background-image: linear-gradient(to right bottom, #333333, #4d4d4d);
  text-align: center; }
  .footer__text {
    font-size: 1.4rem;
    margin-bottom: 1rem; }
  .footer__heart {
    font-size: 1.8rem;
    color: #e60000; }
  .footer__link:link, .footer__link:active, .footer__link:visited {
    text-decoration: none;
    color: inherit; }
  .footer__link:not(:last-child) {
    margin-right: 1rem; }
  .footer__icon {
    font-size: 3rem;
    transition: all 0.2s; }
    .footer__icon:hover {
      transform: scale(1.2); }

.movie-header {
  position: relative; }
  .movie-header__background__image {
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22419-destaque.jpg");
    background-size: cover; }
    .movie-header__background__image::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); }
  .movie-header__list-info {
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    list-style: none; }
  .movie-header__list-item:not(:last-child) {
    margin-bottom: 1rem; }
  .movie-header__text {
    font-size: 1.8rem; }
  .movie-header__title {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase; }

.card {
  position: relative;
  border-radius: 1rem;
  width: 41rem;
  height: 21rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 2rem;
  margin-bottom: 2rem; }
  .card__background__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    transition: all 0.2s; }
  .card__background__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .card__background__image--1 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22419-destaque.jpg");
      background-size: cover; }
    .card__background__image--2 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22813-destaque.jpg");
      background-size: cover; }
    .card__background__image--3 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22050-destaque.jpg");
      background-size: cover; }
    .card__background__image--4 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22808-destaque.jpg");
      background-size: cover; }
    .card__background__image--5 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22869-destaque.jpg");
      background-size: cover; }
    .card__background__image--6 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/23150-destaque.jpg");
      background-size: cover; }
    .card__background__image--7 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22494-destaque.jpg");
      background-size: cover; }
    .card__background__image--8 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22948-destaque.jpg");
      background-size: cover; }
    .card__background__image--9 {
      background-image: url("https://ingresso-a.akamaihd.net/img/cinema/cartaz/22805-destaque.jpg");
      background-size: cover; }
  .card__title, .card__rating {
    position: absolute; }
  .card__title {
    bottom: 2rem;
    left: 1.5rem;
    width: 75%;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase; }
  .card__rating {
    bottom: 1.5rem;
    right: 1rem;
    font-size: 1.3rem;
    display: inline-block;
    background-color: green;
    padding: 1rem 1.3rem; }
    .card__rating--blue {
      background-color: #0052cc; }
    .card__rating--green {
      background-color: #008000; }
    .card__rating--red {
      background-color: #e60000; }
    .card__rating--black {
      background-color: #000; }
  .card--date {
    width: 10rem;
    height: auto;
    background-color: #0052cc;
    color: #fff;
    transition: all 0.2s; }
    .card--date:hover {
      transform: translateY(-1rem) scale(1.2);
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
  .card__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem; }
    .card__text--top {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1.4rem;
      margin-bottom: 0.3rem; }
    .card__text--bottom {
      font-size: 2.5rem;
      margin-bottom: 1.4rem; }
  .card:hover {
    cursor: pointer; }
  .card:hover .card__background__image {
    transform: scale(1.2); }
  .card:hover .card__background__shadow {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%; }

.button-group {
  height: 20rem;
  padding-top: 7rem; }
  .button-group__radio {
    display: none; }
    .button-group__radio:checked + .button-group__label {
      background-color: #fff;
      color: #3385ff;
      z-index: 20; }
  .button-group__radio-group {
    position: relative;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .button-group__label {
    position: absolute;
    top: 0;
    display: inline-block;
    padding: 2rem 8rem;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    z-index: 0;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .button-group__label--left {
      left: 50%;
      transform: translateX(-90%);
      border-right: none; }
    .button-group__label--right {
      right: 50%;
      transform: translateX(90%);
      border-left: none; }
    .button-group__label:hover {
      background-color: rgba(255, 255, 255, 0.25);
      cursor: pointer;
      z-index: 10; }

.movie-showtimes {
  padding: 0 10rem; }
