@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, #0052cc, #80b3ff);
  background-size: cover;
  height: 100vh; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff; }
