// colors
$color-primary-light: #80b3ff;
$color-primary-normal: #3385ff;
$color-primary-dark: #0052cc;

$color-secondary-light: #ffff99;
$color-secondary-normal: #ffff00;
$color-secondary-dark: #b3b300;

$color-black: #000;
$color-white: #fff;

$color-gray-dark: #333333;
$color-gray-light: #4d4d4d;

$color-rating-green: #008000;
$color-rating-blue: #0052cc;
$color-rating-red: #e60000;
$color-rating-black: #000;
