.panel {
  max-width: 131rem;
  padding: 2rem;
  padding-bottom: 0;
  padding-right: 0;
  border-radius: 0.8rem;
  opacity: 1;
  background-color: rgba($color-white, 0.15);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  animation: fadeIn 1.5s;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1.3rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

  &__trailer {
    border: none;
    border-radius: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    @include respond(phone) {
      width: 26rem;
      height: 19rem;
    }
  }

  &__time {
    font-size: 1.5rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &--small {
    max-width: 62rem;
  }
}
