.section-movies {
  max-width: 131rem;
  padding: 2rem;
  padding-bottom: 0;
  padding-right: 0;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  opacity: 1;
  background-color: rgba($color-white, 0.3);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  animation: fadeIn 1.5s;

  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__movies {
    display: flex;
    flex-wrap: wrap;
  }
}
