.button-group {
  position: relative;
  text-align: center;
  margin-top: 12rem;
  font-size: 0;

  &__radio {
    display: none;

    &:checked + .button-group__label {
      border: 0.2rem solid $color-primary-normal;
      background-color: $color-white;
      color: $color-primary-normal;
      z-index: 20;
      border-radius: 10rem;
    }
  }

  &__radio-group {
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__label {
    position: absolute;
    top: 0;
    display: inline-block;
    padding: 2rem 8rem;
    border: 0.2rem solid $color-white;
    z-index: 0;
    transition: all 0.2s;
    backface-visibility: hidden;

    &--left {
      left: 50%;
      transform: translateX(-90%);
      border-radius: 10rem 0 0 10rem;
      border-right: none;

      &:hover {
        border-radius: 10rem;
      }
    }

    &--right {
      right: 50%;
      transform: translateX(90%);
      border-radius: 0 10rem 10rem 0;
      border-left: none;

      &:hover {
        border-radius: 10rem;
      }
    }

    &:hover {
      border: 0.2rem solid $color-white;
      background-color: rgba($color-white, 0.2);
      cursor: pointer;
      z-index: 10;
    }
  }
}
