.button-group {
  height: 20rem;
  padding-top: 7rem;

  &__radio {
    display: none;

    &:checked + .button-group__label {
      border: 0.2rem solid $color-primary-normal;
      background-color: $color-white;
      color: $color-primary-normal;
      z-index: 20;
      border-radius: 10rem;
    }
  }

  &__radio-group {
    position: relative;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__label {
    position: absolute;
    top: 0;
    display: inline-block;
    padding: 2rem 8rem;
    border: 0.2rem solid $color-white;
    border-radius: 10rem;
    z-index: 0;
    transition: all 0.2s;
    backface-visibility: hidden;

    &--left {
      left: 50%;
      transform: translateX(-90%);
      border-right: none;
    }

    &--right {
      right: 50%;
      transform: translateX(90%);
      border-left: none;
    }

    &:hover {
      background-color: rgba($color-white, 0.25);
      cursor: pointer;
      z-index: 10;
    }
  }
}
