@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-dark,
    $color-primary-light
  );
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 20rem;
  position: relative;
}

main {
  padding: 5rem 10rem;

  &.movie-page {
    padding: 0;
  }
}
